/*
Mixins for fau-studienangebot sass
*/
/* 
    Created on : 05.08.2016, 16:32:39
    Author     : unrz59
*/



@mixin hyphens($value) {
	-moz-hyphens: $value;
	-o-hyphens: $value;
	-webkit-hyphens: $value;
	-ms-hyphens: $value;
	hyphens: $value;
}
